<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/06e16f4d-9f1a-42af-8017-140605ee27bc/resourceGroups/az-group-rg/providers/Microsoft.Web/sites/api-jn</ResourceId>
    <ResourceGroup>az-group-rg</ResourceGroup>
    <ApiResourceId>/subscriptions/06e16f4d-9f1a-42af-8017-140605ee27bc/resourceGroups/az-group-rg/providers/Microsoft.ApiManagement/service/APIshopping/apis/API</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://api-jn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>997a2423-d2fc-4a0e-bf99-a087ed39e277</ProjectGuid>
    <PublishUrl>https://api-jn.scm.azurewebsites.net/</PublishUrl>
    <UserName>$api-jn</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>